#triangle {
  top: 64px;
  bottom: 110px;
  right: 0px;
  border-style: solid;
  border-width: 0 800px 800px 0;
  border-color: transparent #ffffff transparent transparent;
  position: fixed;
}

#kutak-rock {
  top: 84px;
  right: 20px;
  position: fixed;
  z-index: 1;
}

#buttons {
  position: fixed;
  top: 35%;
  left: 25%;
  text-align: center;
}

#text {
  position: fixed;
  top: 225px;
  right: 20px;
  width: 450px;
  text-align: left;
  color: black;
  z-index: 1;
}

#mobile-div {
  text-align: center;
  padding: 8px;
}

.large-button {
  height: 40px;
  width: 300px;
}

.large-button:hover {
  background: #005cb9;
  color: #ffffff;
}

#mobile-div {
  height: 98%;
  overflow-y: auto;
}

#mobile-text {
  color: #000000;
}

.mobile-link  {
  color: #000000;
}

#signature {
  text-align: right;
}

hr {
  border: solid #005cb9 1pt;
  background-color: #005cb9;
}
