<div id="desktop-div" *ngIf="!mobileQuery.matches">
    <div id="buttons">
        <a class="large-button" routerLink="/faq" mat-raised-button>Frequently Asked Questions</a>
        <br><br>
        <a class="large-button" routerLink="/ticket" mat-raised-button>Create Ticket</a>
        <br><br>
        <a class="large-button" color="secondary" href="tel:1111" mat-button>Internal: 1111</a>
        <br>
        <a class="large-button" color="secondary" href="tel:402-930-8000" mat-button>External: (402) 930-8000</a>
        <br>
        <a class="large-button" color="secondary" href="mailto:helpdesk@kutakrock.com" mat-button>Email: helpdesk@kutakrock.com</a>
    </div>
    <div id="text">
        Kutak Rock Tech Support has a smart ticket system for employees to submit their technology related issues.
        First search for your issue through the Frequently Asked Questions page, then continue to the Create Ticket page
        if no solutions are found. Our smart ticket system will grab important computer information for you
        and will help resolve the issue quickly. Please contact us for any other questions.
        <br>
        <br>
        <div id="signature">
          - Kutak Rock Tech Support
        </div>
    </div>
    <img id="kutak-rock" src="../../../assets/kutakRock.png" />
    <div id="triangle"></div>
</div>
<div id="mobile-div" *ngIf="mobileQuery.matches">
    <img id="mobile-kutak-rock" src="../../../assets/kutakRock.png" width="98%"/>
    <hr>
    <div id="mobile-buttons">
        <a class="large-button" routerLink="/faq" mat-raised-button>Frequently Asked Questions</a>
        <br><br>
        <a class="large-button" routerLink="/ticket" mat-raised-button>Create Ticket</a>
        <br><br>
        <a class="mobile-link large-button" color="secondary" href="tel:1111" mat-button>Internal: 1111</a>
        <br>
        <a class="mobile-link large-button" color="secondary" href="tel:402-930-8000" mat-button>External: (402) 930-8000</a>
        <br>
        <a class="mobile-link large-button" color="secondary" href="mailto:helpdesk@kutakrock.com" mat-button>Email: helpdesk@kutakrock.com</a>
    </div>
    <hr>
    <div id="mobile-text">
        Kutak Rock Tech Support has a smart ticket system for employees to submit their technology related issues.
        First search for your issue through the Frequently Asked Questions page, then continue to the Create Ticket page
        if no solutions are found. Our smart ticket system will grab important computer information for you
        and will help resolve the issue quickly. Please contact us for any other questions.
        <br>
        <br>
        - Kutak Rock Tech Support
    </div>
</div>
