.header {
    padding: 10px;
    font-size: 160%;
}

#text {
    width: 500px;
    padding: 25px;
    padding-top: 5px;
}

h3 {
    padding-left : 25px;
}

hr {
    border: solid 1pt;
    color: #005cb9;
}

#bottom {
    margin-right: 40%;
}